<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <h1>Bookmark Manager</h1>
    <% if current_user %>
Welcome
      <!-- Welcome, <%= current_user.email %> -->
    <% end %>
    <%= yield %>  <!-- this then yields to the view which has been called by your controller -->
  </body>
</html>
