

<form action='/links' method='post'>
  <label for="title" >Please write your title:
    <input type="text" name="title">
  </label>
  <label for="url" >Please write your address:
    <input type="text" name="url">
  </label>
    <input type='submit' value="Save">
</form>
